/* This file design is the about page of the website. */

/* ************ Header ************** */
.about-pictureContainer .pageLinks {
    background: url("../img/about.jpg") center;
    background-size: cover;  
    display: flex;
    justify-content: flex-start;
    height: 240px;
}
.about-pictureContainer .pageLinks a {
    color: white;
    flex-grow: 1;
    font-weight: bold;
    padding: var(--space-medium);
}

/* ************ Section ************** */
.about-textContainer {
    background-color: var(--color-cream);
    padding: var(--space-medium);
    text-align: center;
}
/* ******* Section-header  ********** */
.about-textContainer .iconPicture img {
    display: block;
    margin-top: var(--space-big);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/* ******* Section-section  ********** */
.about-textContainer .aboutText h1 {
    color: var(--color-peach);
    margin-top: var(--space-big);
}
/* ******* Section-footer ********** */
.about-textContainer .contactUs .contactUs-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.about-textContainer .contactUs .contactUs-list a{
    color: var(--color-brown);
    padding: var(--space-small);
}
/* ***************** */