/* This file design is the home page of the website. */

/* ************ Header ************** */
.home-pictureContainer .pageLinks {
    height: 240px;
    background: url(/Users/snehagupta/Documents/sda/WebDevelopment/projects/MunamiiCakery/public/img/home.jpg) center;
    background-size: cover;
    padding: var(--space-medium);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.home-pictureContainer .pageLinks a {
    flex-grow: 1;
    color: var(--color-brown);
    font-weight: bold;
}

/* ************ Section ************** */
.home-textContainer {
    background-color: var(--color-cream);
    padding: var(--space-medium);
    text-align: center;
}
/* ******* Section-header  ********** */
.home-textContainer .iconPicture img {
    display: block;
    margin-top: var(--space-big);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/* ******* Section-section  ********** */
.home-textContainer .homeText h1 {
    margin-top: var(--space-big);
    color: var(--color-peach);
}
.home-textContainer .homeText button{
    display:block;
    background-color:var(--color-green);
    border-radius: var(--space-small);
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: var(--space-small) var(--space-medium);
    margin-top: var(--space-big);
    margin-bottom: var(--space-big);
    margin-left: auto;
    margin-right: auto;
}
/* ******* Section-footer ********** */
.home-textContainer .contactUs .contactUs-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.home-textContainer .contactUs .contactUs-list a{
    color: var(--color-brown);
    padding: var(--space-small);
}
/* ***************** */