/* This file design is the home page of the website. */
.pictureContainer img {
    width: 100%;
}
.pictureContainer .pageLinks {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  .pictureContainer .pageLinks a {
    color:black;
    font-weight: bold;
    padding: var(--space-small);
  }

  .textSection {
    background-color: var(--color-grey);
}
  .textSection img {
    padding: var(--space-medium);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  .textSection h1 {
    color:#ffa69e;
    text-align: center;
  }
  .textSection p {
    text-align: center;
  }
  .textSection button{
    display:block;
    background-color:var(--color-green);
    border-radius: var(--space-small);
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: var(--space-small) var(--space-medium);
  }

  .textSection .centerthis {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }