/* This file design is the product page of the website. */
.product-page {
    background-color: var(--color-cream);
}
/* ************ Header ************** */
.product-title {
    padding: var(--space-medium);
    text-align: center;
}
.product-title .pageLinks {
    display: flex;
    justify-content: flex-start;
}
.product-title .pageLinks a {
    color: var(--color-brown);
    flex-grow: 1;
    font-weight: bold;
    padding: var(--space-medium);
}
.product-title img {
    display: block;
    margin-top: var(--space-big);
    margin-left: auto;
    margin-right: auto;
}
.product-title h1 {
    margin-top: var(--space-big);
}
/* ******* Section ********** */
/* ******* Section-cupcake ********** */
.cupcake h2 {
    margin-left: var(--space-medium);
}
.cupcake .cupcake-grid {
    column-gap: var(--space-medium);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cupcake .cupcake-grid article {
    background-color:white;
    margin-bottom: var(--space-small);
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-big);
}
.cupcake .cupcake-grid img {
    width: 100px;
}
.cupcake .cupcake-grid article h3 {
    margin-top: var(--space-medium);
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.cupcake .cupcake-grid article p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
/* ******* Section-weddingcake ********** */
.weddingcake h2 {
    margin-left: var(--space-big);
    margin-top: var(--space-big);
}
.weddingcake .weddingcake-grid {
    column-gap: var(--space-medium);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.weddingcake .weddingcake-grid article {
    background-color:white;
    margin-bottom: var(--space-small);
    margin-left: auto;
    margin-right: auto;
    padding: var(--space-big);
}
.weddingcake .weddingcake-grid img {
    width: 100px;
} 
.weddingcake .weddingcake-grid article h3 {
    margin-top: var(--space-medium);
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
.weddingcake .weddingcake-grid article p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}
/* ******* Footer ********** */
.product-contactUs .contactUs-list {
    display: flex;
    justify-content: center;
    list-style: none;
}
.product-contactUs .contactUs-list a{
    color: var(--color-brown);
    padding: var(--space-small);
}
/* ***************** */
/* ***************** */
/* Desktop */
@media (min-width: 750px) {
    .cupcake .cupcake-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cupcake .cupcake-grid img {
        width: 200px;
    }    

    .weddingcake .weddingcake-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .weddingcake .weddingcake-grid img {
        width: 200px;
    }  
}