:root{
    /* Colors */
    --color-cream: #faf3dd;
    --color-green: #52A896;
    --color-peach: #F2A1A3;
    --color-brown: #523A1C;

    /* Space */
    --space-small: 8px;
    --space-medium: 16px;
    --space-big: 24px;

}